
body {
	background-color: rgb(245, 252, 255);
	display: block;
}

/* Basic Styles */
body {
	background-color: #ece8e5;
}

.mylogo {
    display: block;
    margin: auto;
    width: 120px;
    height: 120px;
    padding: 10px;
}

h1 {
    font-size: 30px;
    text-align: center;
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: normal;
}

/*-------------------------------------
| sharing
-------------------------------------*/
.centered h2 {
    font-size: 30px;
    text-align: center;
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: normal;
}

.centered button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
    height: 30px;
    background: url(facebook_icon.png);
}

/*-------------------------------------
| Bootstrap
-------------------------------------*/
.row > div {
    min-height: 300px;
    padding: 10px;
}



img { max-width: 100%; }

/*-------------------------------------
| Nav
-------------------------------------*/
nav {
    height: 40px;
    width: 100%;
    font-size: 12px;
    font-family: arial;
    position: relative;
    text-transform: uppercase;
}

nav ul {
    padding: 0;
    margin: 0 auto;
    width: 573px;
    height: 40px;
}

nav li {
    display: inline;
    float: left;
    width: 143px;
}

.mainmenu:before,
.mainmenu:after {
    content: " ";
    display: table;
} 

.mainmenu:after {
    clear: both;
}

.mainmenu {
    *zoom: 1;
}

nav a {
    color: black;    
    display: inline-block;
    font-weight: 100;
    width: 140px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
}

nav li a {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

nav li:last-child a {
    border-right: 0;
}

nav a:hover { 
    background-color: #3F94DB; 
    text-decoration: none;
    color: white;
    box-shadow: 0 0 1em #9B999E;
    font-weight: 100;
}
nav a.chosen { 
    background-color: #3F94DB;
    color: white;
    box-shadow: 0 0 1em #9B999E;
    font-weight: 100;
}

nav a#pull {
    display: none;     
}

@media screen and (max-width: 1200px) { 

}

@media screen and (max-width: 768px) { 
	nav {
        height: auto;
    }
    nav ul {
        width: 100%;
        display: block;
        height: auto;
    }
    nav li {
        width: 50%;
        float: left;
        position: relative;
        padding: 2px;
    }
    nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
    }

    nav li a {
            text-align: center;
    }
}

@media screen and (max-width: 768px) {
    nav {
        height: auto;
    }
    nav ul {
        width: 100%;
        display: block;
        height: auto;
    }
    nav li {
        width: 50%;
        float: left;
        position: relative;
        padding: 2px;
    }
    nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
    }

    nav li a {
            text-align: center;
    }
}

@media only screen and (max-width: 736px) {
	nav {
        border-bottom: 0;
    }

    nav ul {
        display: none;
        height: auto;
    }

    nav a#pull {
        display: block;
        width: 100%;
        position: relative;
        color: black;
        font-weight: 100;
        text-align: center;
    }

    nav a#pull:after {
        content: "";
        background: url(nav-icon.png) no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
    }
}

@media only screen and (max-width: 480px) {
    nav {
        border-bottom: 0;
    }

    nav ul {
        display: none;
        height: auto;
    }

    nav a#pull {
        display: block;
        width: 100%;
        position: relative;
        color: black;
        font-weight: 100;
        text-align: center;
    }

    nav a#pull:after {
        content: "";
        background: url(nav-icon.png) no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
    }
}

@media only screen and (max-width: 480px) {
        nav li {
            display: block;
            float: none;
            width: 100%;
        }

        nav li a {
            text-align: center;
            text-decoration: none;
        }
}














